<rewriteMaps>
  <rewriteMap name="International_Redirects">
    <add key="/en/" value="/homepage"></add>
    <add key="/fr/contact/" value="/geographical-position-of-the-sites"></add>
    <add key="/en/legal-information/" value="/legal-information"></add>
    <add key="/en/terms-and-conditions-for-slovakia/" value="/terms-and-conditions-for-slovakia"></add>
    <add key="/en/whistleblower-platform/" value="/whistleblower-platform"></add>
  </rewriteMap>
  <rewriteMap name="FR_Redirects">
    <add key="/contact/" value="/fr-fr/equipe-commerciale"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/" value="/fr-fr/epdm"></add>
    <add key="/les-solutions-en-zinc-lamine-de-vm-building-solutions/" value="/fr-fr/zinc"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/retridex/" value="/fr-fr/epdm/membrane-epdm-retridex"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/hertalan/" value="/fr-fr/epdm/membrane-epdm-hertalan"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/tiplon/" value="/fr-fr/epdm/membrane-epdm-tiplon"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/tridex/" value="/fr-fr/epdm/membrane-epdm-tridex"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/secuone/" value="/fr-fr/epdm/membrane-epdm-secuone"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/versico/" value="/fr-fr/epdm/membrane-epdm-versico"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/maxon/" value="/fr-fr/epdm/membrane-epdm-maxon"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/sure-seal/" value="/fr-fr/epdm/membrane-epdm-sure-seal"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/botanipack/" value="/fr-fr/epdm/membrane-epdm-botanipack"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/sure-white/" value="/fr-fr/epdm/membrane-epdm-sure-white"></add>
    <add key="/les-solutions-epdm-de-vm-building-solutions/bande-epdm-pour-etancheite/" value="/fr-fr/epdm/membrane-epdm-resistit%C2%AE-g-sk"></add>
    <add key="/reglementation-reach-2/" value="/fr-fr/epdm/reglementation-reach"></add>
    <add key="/wp-content/uploads/2019/04/Documentation_Retridex.pdf" value="/getmedia/6e12bc5c-e89d-435e-b4bf-7fc0017bf8d9/Documentation_Retridex.pdf"></add>
    <add key="/wp-content/uploads/2023/02/manuel-de-pose-retridex-2019.pdf" value="/getmedia/aa56743c-227f-4422-9f67-3f893a7828a3/manuel-de-pose-retridex-2019.pdf"></add>
    <add key="/wp-content/uploads/2018/09/HERTALAN_4pages_FR.pdf" value="/getmedia/96246748-817a-4473-96ab-048a1ffe4203/HERTALAN_4pages_FR.pdf"></add>
    <add key="/wp-content/uploads/2018/12/Manuel-de-pose-Hertalan-2019.pdf" value="/getmedia/89480d3c-0d5e-4144-abd7-7297729c09dd/Manuel-de-pose-Hertalan-2019.pdf"></add>
    <add key="/wp-content/uploads/2018/09/TIPLON_4pages_FR.pdf" value="/getmedia/25966d33-e4d6-43a5-89e4-2843b994f27f/TIPLON_4pages_FR.pdf"></add>
    <add key="/wp-content/uploads/2018/09/TRIDEX_4pages_FR.pdf" value="/getmedia/39510cb3-880b-4c8a-b687-63506756e97d/TRIDEX_4pages_FR.pdf"></add>
    <add key="/wp-content/uploads/2018/12/Manuel-de-pose-Tridex-2019.pdf" value="/getmedia/3a58310e-7602-4235-ac8a-9749a217fa5f/Manuel-de-pose-Tridex-2019.pdf"></add>
    <add key="/wp-content/uploads/2018/09/SecuOne_4pages_FR.pdf" value="/getmedia/8831650b-9482-4585-aa4c-44f8834682d3/SecuOne_4pages_FR.pdf"></add>
    <add key="/wp-content/uploads/2018/12/Manuel-de-pose-SECUONE-2019.pdf" value="/getmedia/209a2821-9712-4ec1-a610-5db8a7a5a8cb/Manuel-de-pose-SECUONE-2019.pdf"></add>
    <add key="/wp-content/uploads/2018/09/SureSeal_4pages_FR.pdf" value="/getmedia/087d9614-8af6-4587-8ac5-858b59dccd0b/SureSeal_4pages_FR.pdf"></add>
    <add key="/wp-content/uploads/2018/12/Manuel-de-pose-Sure-Seal-2019.pdf" value="/getmedia/f3c9bdb5-b6cf-4b0e-bdaf-6bf460a0be45/Manuel-de-pose-Sure-Seal-2019.pdf"></add>
    <add key="/wp-content/uploads/2022/09/Botanipack_PRESCRIPTION.pdf" value="/getmedia/e0438375-0962-4e36-b6f0-a543c9e365fb/Botanipack_PRESCRIPTION.pdf"></add>
    <add key="/wp-content/uploads/2022/07/Fiche-Produit_0107.pdf" value="/getmedia/50229339-e3c3-4885-8b02-b2e94c4b3ce8/Fiche-Produit_0107.pdf"></add>
    <add key="/wp-content/uploads/2023/11/Sure-White_DocCommerciale-Nov2023-Version-finale-faf.pdf-3.pdf" value="/getmedia/e26c0050-c7db-42da-9f2f-697b456c8aa6/Sure-White_DocCommerciale-Nov2023-Version-finale-faf-pdf-3.pdf"></add>
    <add key="/wp-content/uploads/2023/11/Descriptif-Type-_SureWhite-Oct2023-L.pdf" value="/getmedia/5c0c43c5-df4c-4c95-8841-0a2f499575d7/Descriptif-Type-_SureWhite-Oct2023-L.pdf"></add>
    <add key="/documentation-zinc-epdm/" value="/fr-fr/documentations"></add>
  </rewriteMap>
</rewriteMaps>
